.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid $ash;

  .logo-container {
    display: flex;
    align-items: center;

    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
