.categories-page {
  background-color: $white;
  padding: 1rem;

  @media screen and (min-width: 768px) {
    padding: 2.375rem 6.25rem 0 6.25rem;
  }

  h2 {
    margin-top: 0.5rem;
    color: $logo;
    font-size: 1rem;
  }
}
